/* regole generali di pagina */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html{
  scrollbar-color: grey transparent;
}

/* clearfix */
 .container-generale:after {
  content: "";
  display: table;
  clear: both;
}
.blocco-sinistra{
  width: 18%;
  height: calc(100vh - 100px);
  float: left;
  background: black;
  overflow-y: scroll;
}
.blocco-destra{
  width: 82%;
  height: calc(100vh - 100px);
  float: left;
  background-image: linear-gradient(to right bottom, rgb(111, 83, 42), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.blocco-fondo{
  width: 100%;
  height: 100px;
  background: #282828;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blocco-sinistra .logo {
  margin-top: 20px;
  margin-left: 20px;
}
.blocco-sinistra .logo img {
  width: 60%;
  filter: invert();
  margin-bottom: 20px
}
/* regole left-nav */
.blocco-sinistra nav ul {
  list-style-type: none;
  margin-left: 20px;

}
.blocco-sinistra nav ul li {
  margin-top: 10px;
}
.blocco-sinistra nav ul li a {
  color: #b3b3b3;
  text-decoration: none;
}
.blocco-sinistra nav img {
  filter: invert();
  margin-right: 10px;
}

.crea {
  padding-bottom: 8px;
}
.crea h6 {
  color: #b3b3b3;
  font-size: 15px;
  margin-left: 20px;
  margin-top: 40px;
}
.crea img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-top: 10px;
  padding: 5px;
  background: #b3b3b3;
  margin-right: 10px;
  vertical-align: bottom;
}
.crea span {
  color: #b3b3b3;
}

.playlist {
  height: 120px;
  margin-left: 20px;
  color: #b3b3b3;
  overflow-y: scroll;
}
.playlist ul {
  list-style-type: none;
}
.playlist ul li {
  margin-top: 10px;
}
.playlist ul li a {
  text-decoration: none;
  color: #b3b3b3;
}

.install {
  width: 90%;
  border-bottom: 1px solid grey;
  margin: 0 auto;

}
.install img {
  filter: invert();
  width: 20px;
  margin-top: 20px;
  margin-right: 10px;
  vertical-align: bottom;
  padding-bottom: 5px;
}
.install a, .utente a {
  color: #b3b3b3;
  text-decoration: none;
  padding-bottom: 5px;
  display: inline-block;
}

.utente img {
  width: 35px;
  border-radius: 50%;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-left: 20px;
  vertical-align: bottom;
}
.utente a {
  margin-left: 10px;
}

.visibile {
  display: none;
}


/* REGOLE BLOCCO DESTRA */
.blocco-destra nav {
  display: flex;
  justify-content: center;
  text-align: center;
}
.blocco-destra nav ul {
  list-style-type: none;
  margin: 20px auto;
  margin-bottom: 30px;
}
.blocco-destra nav ul li {
  display: inline-block;
}
.blocco-destra nav ul li a {
  color: white;
  text-decoration: none;
  margin-right: 30px
}
.blocco-destra nav .sottolineato {
  width: 30px;
  border-bottom: 3px solid green;
  margin: 0 auto;
  transform: translate(-40%, 0);
}

.blocco-destra .header {
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 100px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.blocco-destra .header h2 {
  color: white;
  font-size: 30px;
}
.blocco-destra .header h6 {
  color: #b3b3b3;
  font-size: 15px;
}
.blocco-destra .header a {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 15px;
}
.blocco-destra .musica {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 60px;
}
.blocco-destra .musica .riquadro {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;

}
.blocco-destra .musica .riquadro a {
  color: white;
  text-decoration: none;
  text-align: center;
}
.blocco-destra .musica img {
  margin-bottom: 10px;
}

.blocco-destra .musica .tonda {
  border-radius: 50%;
  width: 162px;
}

/* regole blocco fondo */
.canzone {
  height: 80px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.canzone img{
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.canzone a {
  color:white;
  font-size: 12px;
  text-decoration: none;
}
.canzone i {
  margin-left: 10px;
  color: white;
}
.player {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}
.player .comandi {
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  color: #b3b3b3;
  align-items: center;
}
.fa-play {
  font-size: 13px;
  border: 1px solid #b3b3b3;
  border-radius: 50%;
  padding: 7px;
}
.player .lunghezza {
  width: 400px;
  height: 20px;
  border-bottom: 2px solid #b3b3b3;
}

.volume {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #b3b3b3;
  margin-right: 20px;
}
.volume .fas {
  margin-left: 8px;
}
.barra-volume {
  width: 60px;
  border-top: 2px solid #b3b3b3;
}

/* regole visibilità blocco sinistra */
 @media screen and (max-width: 992px) {

  .invisibile {
    display: none;
  }

  .blocco-destra {
    width: calc(100% - 50px);
  }

  .visibile {
    display: inline;
  }

  .blocco-sinistra-hamurger {
    width: 50px;
    height: calc(100vh - 100px);
    background: black;
    float: left;
    color: white;
    text-align: center;
  }
  .blocco-sinistra-hamurger .fa-bars{
    font-size: 30px;
    margin-top: 20px;
  }
  .blocco-destra {
    float: right;
  }
}

@media screen and (max-width: 855px) {

  .blocco-fondo .canzone img {
    visibility: collapse;
  }
  .blocco-fondo .lunghezza {
    width: 300px;
  }

}
